* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

main{
    margin-top: 65px;
}

li{
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul{
    padding: 0;
}